<a href="https://colab.research.google.com/github/tanaz123/tanazmoghadamfar-/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
#@title
import pandas as pd
df= pd.read_csv('/content/drive/My Drive/CHERNAIR.csv')

In [15]:
df.shape

(2051, 11)

In [18]:
df.columns

Index(['PAYS', 'Code', 'Ville', 'X', 'Y', 'Date', 'End of sampling',
       'Duration(h.min)', 'I 131 (Bq/m3)', 'Cs 134 (Bq/m3)', 'Cs 137 (Bq/m3)'],
      dtype='object')

In [21]:
df.describe()

              Code            X            Y  Duration(h.min)
count  2051.000000  2051.000000  2051.000000      2051.000000
mean     10.339834    11.960522    47.544885        20.805685
std       7.497841    11.298828    11.398712        41.351518
min       1.000000    -6.280000     0.000000         0.200000
25%       3.000000     5.180000    45.800000         6.000000
50%       8.000000     9.800000    48.460000        24.000000
75%      14.000000    14.500000    52.760000        24.000000
max      24.000000    50.680000    63.830000       700.000000

In [27]:
import seaborn as sns
import matplotlib.pyplot as plt
fig=plt.figure(figsize=(10,6))

In [29]:
df.head()

  PAYS  Code  Ville  ...  I 131 (Bq/m3)  Cs 134 (Bq/m3) Cs 137 (Bq/m3)
0   SE     1  RISOE  ...              1               0           0.24
1   SE     1  RISOE  ...         0.0046         0.00054        0.00098
2   SE     1  RISOE  ...         0.0147          0.0043         0.0074
3   SE     1  RISOE  ...        0.00061               0        0.00009
4   SE     1  RISOE  ...        0.00075          0.0001        0.00028

[5 rows x 11 columns]

In [31]:
df.tail()

     PAYS  Code     Ville  ...  I 131 (Bq/m3)  Cs 134 (Bq/m3) Cs 137 (Bq/m3)
2046   HU    24  BUDAPEST  ...            3.7            0.58            1.2
2047   HU    24  BUDAPEST  ...            2.2            0.33           0.69
2048   HU    24  BUDAPEST  ...           0.75            0.14           0.29
2049   HU    24  BUDAPEST  ...          0.054           0.006          0.009
2050   HU    24  BUDAPEST  ...          0.051           0.006           0.01

[5 rows x 11 columns]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
fig=plt.figure(figsize=(10,6))
ax=sns.lineplot()
plt.show()